<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <h3>ショッピングカート</h3>
        </div>
        <div class="col-md-1 col-md-offset-6">
            <button class="btn btn-primary"><%= link_to "カートを空にする", destroy_all_path, method: :delete %></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-md-offset-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>商品名</th>
                        <th>単価(税込)</th>
                        <th>数量</th>
                        <th>小計</th>
                    </tr>
                </thead>
                <tbody>
                    <% @cart_items.each do |cart_item| %>
                    <tr>
                        <td><%= cart_item.item.name %></td>
                        <td><%= cart_item.item.price %></td>
                        <%= form_for cart_item ,url: cart_item_path(cart_item.id) do |f| %>
                        <td><%= f.number_field :amount , min: "1" %> <%= f.submit "変更", class: "btn btn-primary" %></td>
                        <% end %>
                        <td><%= Item.find(cart_item.item_id).price * cart_item.amount %></td>
                        <td><%= link_to "削除する", url: cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger" %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>

